@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing:border-box
}

header {
    background-color:#FF5A33;
    color: white;
}

h1 {
    width: fit-content;
    color: #146152;
    border-bottom: #B4CF66 dotted 5px;
}

body {
    border-style: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Lato, Helvetica, sans-serif;
}

main {
    padding: 16px;
    background-color: #FFEC5C;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

img {
    height: 200px;
    margin-top: 10px;
}

nav {
    padding: 16px;
}

a {
    text-decoration: none;
  }


a:hover {
    color: #B4CF66;
  }

footer  {
    background-color:#B4CF66;
    color: white;
}

.recipe-list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 16px;
    row-gap: 16px;
}

.recipe-photo {
    width: 100%
}

.recipe {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 5px;
    width: fit-content;
}

.recipe-list > div {
    width: 220px;

}


.recipe-items {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
}

td {
    background-color: #B4CF66;
}

h3 {
    border-bottom: #B4CF66 solid 2px;
    padding: 8px;
}

h2 {
    border-bottom: solid 2px #146152;
}


.recipe:hover {
    color: #FF5A33;
}

.main-page {
    width: fit-content;
    color: #146152;
    border: 8px dashed #B4CF66;
    padding: 8px;
}
